<html>
{% load staticfiles %}
    <head>
        <!-- Some Java script and css files -->
        <link rel="stylesheet" href="{% static "style.css" %}">
        <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
        <title>{{file_name }}-Codetable Test</title>
    </head>
    <body>
        <div class="header">
            <div class="navigation">
                <div class="float-left">
                    <div class="float-left">
                        <a href="/" class="logo-codetable no-underline float-left">CodeTable Test </a>
                    </div>
                    <div class="clear"></div>
                </div>
                <ul class="nav-bar no-padding float-right">
                    <li><a href="/">New Code</a></li>
                 </ul>
                 <div class="clear"></div>
            </div>
        </div><!--Header-->
        
        <div class="bl-page">
            <div class="filename-bar">
                <div id="file-name" class="filename float-left" onclick="showFileRename()" title="Click to rename">{{ file_name }}</div>
                <div class="filename-text float-left hidden">
                    <div class="hidden" id="codeiddiv">{{ file_name }}</div>
                    <div class="hidden" id="codeidlang">{{ code_lang }}</div>
                    <form>
                        <div class="floating-wrapper">
                            <input type="text" id="file-name-value" name="filename" value=""/>
                            <button onclick="saveFileName('{{ file_name }}')" type="button" id="file-name-save-btn" class="filename-save button btn-blue medium-margin-left">Save</button>
                            <a id="file-name-cancel-btn" onclick="hideFileRename()" class="filename-cancel link-3 medium-margin-left link-near-button">Cancel</a>
                        </div>
                    </form>
                </div>
                <div class="float-right less-margin-left delete-digest-code">
                    <a onclick="delete_code('{{ file_name }}'); return false;" class="delete">Delete</a>
                </div>
                <div class="clear"></div>
            </div><!-- filename div -->
            <hr class="hr">
            
            <div class="left">
                <div class="editor-container">
                    <div class="editor-extras">
                        <div class="float-left select-lang">
                            <select onchange="changeMode(this.value, true)" name="lang" id="lang">
                                <option value="C" >C (gcc 4.8.4)</option>
                                <option value="CPP" selected="selected">C++ (g++ 4.8.4)</option>
                                <option value="CPP11" >C++11 (g++ 4.8.4)</option>
                                <option value="JAVASCRIPT">JavaScript</option>
                                <option value="JAVA">Java (openjdk 1.7.0_09)</option>
                                <option value="PERL">Perl (perl 5.18.2)</option>
                                <option value="PHP">PHP (php 5.5.9)</option>
                                <option value="PYTHON">Python (python 2.7.6)</option>
                                <option value="RUBY">Ruby (ruby 2.1.1)</option>
                                <option value="TEXT">Text</option>
                            </select>
                        </div><!-- select-lang-->
                        <div class="float-right btn-blue" id="save-code" onclick="saveCode('{{ file_name }}')">Save</div>
                        <!--<button class="float-right btn-blue" id="save-code" onclick="saveCode('{{ file_name }}')">Save</button>-->
                        <div class="clear"></div>
                    </div><!-- editor-extras -->
                    <div id="editor">{{ code_text }}</div><!--Editor-div -->
                </div><!-- editor-container -->

                <div class="test-input-check medium-margin">
                    <input onchange="showInputTextArea()" name="test-input-checkbox" id="test-input-checkbox" type="checkbox">
                    <span onclick="textInputSpanClick()" class="test-input-checkbox-text light">Use custom input for testing your code</span>
                    <div class="test-input-container medium-margin hidden">
                        <textarea id="test-input" class="test-input-textarea" placeholder="Write your inputs to program.."></textarea>
                    </div>
                    <hr class="gray-hr">
                </div><!-- test-input-check-->

                <div class="compile-and-test">
                    <div class="float-right medium-margin-left">
                        <div class="generate-public-url button btn-green float-left" id="run-code" onclick="saveCompileRun('{{ file_name }}')"> Compile and Run </div>
                        <!--<button type="button" id="run-code" class="button btn-green" onclick="saveCompileRun('{{ file_name }}')">Compile and Run</button>-->
                    </div>
                    <div class="clear"></div>
                </div> <!-- compile and test -->

                <div class="border-div medium-margin hidden" id="compiling">
                    <div class="compiling-inner">Compiling....</div>
                </div>

                <div class="border-div medium-margin hidden" id="error">
                    <div class="error-inner">
                        <div class='output-heading-bold'>
                            <div style='display:inline'>Status:</div>
                            <div style='display:inline' id="error-status"></div>
                        </div>
                    </div>
                </div><!-- error-div-->

                <div class='border-div medium-margin hidden' id="output">
                    <div class="output-inner">
                        <div class='output-heading-bold'>
                            <div style='display:inline'>Compile Status:</div>
                            <div style='display:inline' id="output-compile-status"></div>
                        </div>
                        <div class='medium-margin'>
                            <div class='output-heading-bold'>Input:</div><hr/>
                            <div id='output-input-value' class='light less-margin'></div>
                        </div>
                        <div class='medium-margin'>
                            <div class='output-heading-bold'>Output:</div><hr/>
                            <div id='output-output-value' class='dark less-margin'></div>
                        </div>
                        <div class='float-left output-col'>
                            <div class='output-heading-bold'>Memory Used(KB):</div>
                            <div id='output-memory-used-value' class='less-margin dark'></div>
                        </div>
                        <div class='float-left output-col'>
                            <div class='output-heading-bold'>Time taken (sec):</div>
                            <div id='output-time-used-value' class='less-margin dark'></div>
                        </div>
                        <div class='float-left output-col'>
                            <div class='output-heading-bold'>Status:</div>
                            <div id='output-status-value' class='less-margin dark'></div>
                        </div>
                        <div class='float-left output-col'>
                            <div class='output-heading-bold'>Status Detail:</div>
                            <div id='output-status-detail-value' class='less-margin dark'></div>
                        </div>
                        <div class='clear'></div>
                    </div>
                </div><!-- output-->

            </div> <!-- left -->
            
            <div class="right">
                <!-- activity status -->
                <div class="activity-status medium-margin">
                    <div class="right-panel-heading"> Code Information </div>
                    <hr class="hr">
                    <div class="time-and-date">
                        <div class="date-created">
                            <span class="date-created-msg">Date Created:</span>
                            <span class="date-created-value dark">{{ code_create_date }}</span>
                        </div>
                        <div class="date-last-saved">
                            <span class="date-last-saved-msg">Last Saved:</span>
                            <span class="date-last-saved-value dark">{{ code_last_save_date }}</span>
                        </div>
                    </div>
                </div> <!--Activity-status -->
                <div class="share-url standard-margin">
                    <div class="right-panel-heading">Share URL</div><hr class="hr">
                    <div class="clear"></div>
                    <div class="generate-public-url button btn-blue float-left" onclick="share('{{ file_name }}');"> Get shareable url </div>
                    <div class="clear"></div>

                    <div id="share-url-class" class="share-link-display less-margin-2">
                        <a href="{{ share_url }}" id="share-url-href" target="_blank" class="result-read-only-url hidden">{{ share_url }}</a>
                    </div>
                </div> <!-- Share-url -->
            </div> <!-- right -->
            
            <div class="clear"></div>
        </div> <!-- Editor and stuff -->
        
        <div class="footer">
            <ul class="footer-bar no-padding">
                <li>
                    <a href="#" target="_blank" class="underline-hover">Prikshit Kumar</a>
                    <span class="separator">|</span>
                </li>
                <li>
                    <a href="#" target="_blank" class="underline-hover">About</a>
                    <span class="separator">|</span>
                </li>
                <li>
                     <a href="mailto:kprikshit22+hc@gmail.com" class="underline-hover" target="_blank">Contact Me</a>
                </li>
            </ul>
            <div class="social-buttons float-right">
                <a href="https://twitter.com/prikshit22" class="twitter-follow-button" data-show-count="false">Twitter: @prikshit22</a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div><!-- Footer -->
    </body>

    <!--  Javascript Files -->
    <script src="{% static "jquery.min.js" %}"></script>
    <script src="{% static "frontend.js" %}"></script>
    <script src= "{% static "ajaxfunctions.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src= "{% static "src-noconflict/ace.js" %}"  type="text/javascript" charset="utf-8"></script>
    <script>
        $(document).ready(function(){
            self.setInterval(function(){
                saveCode('{{ file_name }}');
                $("#save-code").text("Saved!")
            }, 10000);

            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/github");

            editor.on('change', function(){
                $("#save-code").text("Save");
                $("#save-code").css("background-color", "#4c9cdf");
            });

            changeMode("{{ code_lang }}", false);
            $("#lang").val("{{ code_lang }}");
            if("{{ shared }}" == "True"){
                $("a#share-url-href").attr("href", "{{ shared_url }}");
                $("a#share-url-href").text("{{ shared_url }}");
                $("#share-url-href").show();
            }
        })
    </script> <!-- ACE Editor JS -->

</html>

