<html>
{% load staticfiles %}
    <head>
        <!-- Latest compiled and minified CSS  Bootstrap
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        -->
        <link rel="stylesheet" href="{% static "style.css" %}">
        <title>{{file_name }}-Codetable Test</title>
    </head>
    <body>
        <div class="header">
            <div class="navigation">
                <div class="float-left">
                    <div class="float-left">
                        <a href="/" class="logo-codetable" class="logo-codetable no-underline float-left">CodeTable Test </a>
                    </div>
                    <div class="clear"></div>
                </div>
                <ul class="nav-bar no-padding float-right">
                    <li><a href="/">New Code</a></li>
                    <!--
                    <li><a href="/" target="_blank">Do Something</a></li>
                    <li><a href="/" target="_blank">FU</a></li>
                    -->
                 </ul>
                 <div class="clear"></div>
            </div>
        </div><!--Header-->
        
        <div class="bl-page">
            <div class="filename-bar">
                <div id="file-name" class="filename float-left" onclick="showFileRename()" title="Click to rename">{{ file_name }}</div>
                <div class="filename-text float-left hidden">
                    <div class="hidden" id="codeiddiv">{{ file_name }}</div>
                    <div class="hidden" id="codeidlang">{{ code_lang }}</div>
                    <form>
                        <div class="floating-wrapper">
                            <input type="text" id="file-name-value" name="filename" value=""/>
                            <button onclick="saveFileName('{{ file_name }}')" type="button" id="file-name-save-btn" class="filename-save button btn-blue medium-margin-left">Save</button>
                            <a id="file-name-cancel-btn" onclick="hideFileRename()" class="filename-cancel link-3 medium-margin-left link-near-button">Cancel</a>
                        </div>
                    </form>
                </div>
                <div class="float-right less-margin-left delete-digest-code">
                    <a onclick="delete_code('{{ file_name }}'); return false;" class="delete">Delete</a>
                </div>
                <div class="clear"></div>
            </div><!-- filename div -->
            <hr class="hr">
            
            <div class="left">
                <div class="editor-container">
                    <div class="editor-extras">
                        <div class="float-left select-lang">
                            <select onchange="changeMode(this.value, true)" name="lang" id="lang">
                                <option value="C" >C (gcc 4.8.4)</option>
                                <option value="CPP" selected="selected">C++ (g++ 4.8.4)</option>
                                <option value="CPP11" >C++11 (g++ 4.8.4)</option>
                                <option value="JAVASCRIPT">JavaScript</option>
                                <option value="JAVA">Java (openjdk 1.7.0_09)</option>
                                <option value="PERL">Perl (perl 5.18.2)</option>
                                <option value="PHP">PHP (php 5.5.9)</option>
                                <option value="PYTHON">Python (python 2.7.6)</option>
                                <option value="RUBY">Ruby (ruby 2.1.1)</option>
                                <option value="TEXT">Text</option>
                            </select>
                        </div><!-- select-lang-->

                        <button class="float-right btn-blue" id="save-code" onclick="saveCode('{{ file_name }}')">Save</button>
                        <div class="clear"></div>
                    </div><!-- editor-extras -->
                    <div id="editor">{{ code_text }}</div><!--Editor-div -->
                </div><!-- editor-container -->
                <div class="test-input-check medium-margin">
                    <input onchange="showInputTextarea()" name="test-input-checkbox" id="test-input-checkbox" type="checkbox">
                    <span onclick="textInputSpanClick()" class="test-input-checkbox-text body-font light">Use custom input for testing your code</span>
                    <div class="test-input-container medium-margin hidden">
                        <textarea id="test-input" class="nice-textarea" placeholder="Write your inputs to program.."></textarea>
                    </div>
                    <hr class="hr">
                </div><!-- test-input-check-->
                <div class="compile-and-test">
                    <div class="float-right medium-margin-left">
                        <button type="button" id="run-code" class="button btn-green" onclick="saveCompileRun('{{ file_name }}')">Compile and Run</button>
                    </div>
                    <div class="clear"></div>
                </div> <!-- compile and test -->
                <div id="run-result" class="medium-margin body-font hidden">
                    <div class="error-output"></div>
                    <div class="output" id="output"></div>
                </div>
            </div><!-- left -->
            
            <div class="right">
                <!-- activity status -->
                <div class="activity-status medium-margin">
                    <div class="right-panel-heading"> Code Information </div>
                    <hr class="hr">
                    <div class="time-and-date">
                        <div class="date-created">
                            <span class="date-created-msg">Date Created:</span>
                            <span class="date-created-value dark">{{ code_create_date }}</span>
                        </div>
                        <div class="date-last-saved">
                            <span class="date-last-saved-msg">Last Saved:</span>
                            <span class="date-last-saved-value dark">{{ code_last_save_date }}</span>
                        </div>
                    </div>
                </div>
                
                <!-- Share URL -->
                <div class="share-url standard-margin">
                    <div class="right-panel-heading">Share URL</div>
                    <hr class="hr">
                    <div class="clear"></div>
                    <div class="generate-public-url button btn-blue float-left" onclick="share('{{ file_name }}');"> Get shareable url </div>
                    <div class="clear"></div>

                    <div id="share-url-class" class="share-link-display less-margin-2">
                        <a href="{{ share_url }}" id="share-url-href" target="_blank" class="result-read-only-url hidden">{{ share_url }}</a>
                    </div>
                </div>
                
            </div> <!-- right -->
            
            <div class="clear"></div>
        </div> <!-- Editor and stuff -->
        
        <div class="footer">
            <ul class="footer-bar no-padding">
                <li>
                    <a href="#" target="_blank" class="underline-hover">Prikshit Kumar</a>
                    <span class="separator">|</span>
                </li>
                <li>
                    <a href="#" target="_blank" class="underline-hover">About</a>
                    <span class="separator">|</span>
                </li>
                <li>
                     <a href="mailto:kprikshit22@gmail.com" class="underline-hover" target="_blank">Contact</a>
                </li>
            </ul>
            <div class="social-buttons float-right">
                <a href="https://twitter.com/prikshit22" class="twitter-follow-button" data-show-count="false">Twitter: @prikshit</a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div><!-- Footer -->
    </body>


    <!-- Various JS Files -->
    <!-- Loading these at end for faster page rendering  -->
    <script src="{% static "jquery.min.js" %}"></script>

    <!-- Frontend related functions -->
    <script>
        // File name related functions
        function showFileRename(){
            $(".filename-text").show();
            $("#file-name").hide();
        }

        function saveFileName(){
            var nname =$("#file-name-value").val();
            if(nname == ""){
                nname= "Untitled File";
            } 
            $("#file-name").html(nname);
            hideFileRename();
        }

        function hideFileRename(){
            $(".filename-text").hide();
            $("#file-name").show();
        }
        // custom test Input related function
        function showInputTextarea(){
            var checked = $('#test-input-checkbox').is(":checked");
            if(checked){
                $(".test-input-container").show();
            }
            else{
                $(".test-input-container").hide();
            }
        }

        function textInputSpanClick(){
            var checked = $('#test-input-checkbox').is(":checked");
            if(checked){
                $(".test-input-container").hide();
                $('#test-input-checkbox').prop('checked', false);
            }
            else{
                $(".test-input-container").show();
                $('#test-input-checkbox').prop('checked', true);
            }
        }
    </script> <!--Frontend scripts -->

    <!-- ajax related functions -->
    <script>
        function saveCode(code_id){
            $("#save-code").text("Saving...");
            var editor = ace.edit("editor");
            var code_text = editor.session.getValue();
            var code_lang = $("#lang").val();
            $.post({
                type :'POST',
                url: '/editor/save/',
                data: {'lang': code_lang, 'text': code_text, 'id': code_id},
                success: function(response){
                    $(".date-last-saved-value").html(new Date(response));
                    $("#save-code").text("Saved!");
                    $("#save-code").css("background-color", "green");
                },
                error: function(error){
                    console.log(error);
                }
            })
        }

        // this will save the code first and then it will run it
        function saveCompileRun(code_id) {
            while (1) {
                saveCode(code_id);
                break;
            }
            compileAndRun(code_id);
        }

        function compileAndRun(code_id){
            $("#run-result").show();
            $(".output").html("Compiling....")
            var code_input = $("#test-input").val();
            console.log(code_input);
            $.ajax({
                method: 'POST',
                url: '/editor/run/',
                data: {'id': code_id, 'input': code_input},
                success: function(response){
                    console.log(response);
                    $(".output").html(response);
                },
                error: function(error){
                    $(".output").html(error);
                }
             });
        }

        function deleteCode(code_id){

        }

        function share(code_id){
            $.ajax({
                type: 'POST',
                data: {'code_id': code_id},
                url: '/editor/generate/',
                success: function(response){
                    $("a#share-url-href").attr("href", response);
                    $("a#share-url-href").text(response);
                    $("#share-url-href").show();
                },
                error: function(error){
                    $("a#share-url-href").text(response);
                    $("#share-url-href").show();
                }
             })
        }

        function fetch_default_code(new_lang){
            var editor = ace.edit("editor");
            var code_id = $("#codeiddiv").html();
            $.post({
                type :'POST',
                url: '/editor/starter/',
                data: {'lang': new_lang},
                success: function(response){
                    editor.session.setValue(response);
                },
                error: function(error){
                    console.log(error);
                }
            })
        }
    </script><!-- Ajax scripts -->

    <!-- Ace editor scripts -->
    <script src= "{% static "src-noconflict/ace.js" %}"  type="text/javascript" charset="utf-8"></script>
    <script>
        $(document).ready(function(){
            self.setInterval(function(){
                saveCode('{{ file_name }}');
                $("#save-code").text("Saved!")
            }, 10000);

            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/github");
            editor.getSession().setTabSize(1);
            //editor.getSession().setUseSoftTabs(false);

            //$("#editor").css('font-family', 'Courier New');

            editor.on('change', function(){
                $("#save-code").text("Save");
                $("#save-code").css("background-color", "#4c9cdf");
            });

            changeMode("{{ code_lang }}", false);
            $("#lang").val("{{ code_lang }}");
            if("{{ shared }}" == "True"){
                $("a#share-url-href").attr("href", "{{ shared_url }}");
                $("a#share-url-href").text("{{ shared_url }}");
                $("#share-url-href").show();
            }
        })

        // this function changes the mode of ACE editor when user changes the langauge
        // this will also fetch a new template from the server
        function changeMode(new_lang, fetchCode){
            var editor = ace.edit("editor");

            if(new_lang == "C")
                editor.session.setMode("ace/mode/c_cpp");
            else if(new_lang == "CPP")
                editor.session.setMode("ace/mode/c_cpp");
            else if(new_lang == "CPP11")
                editor.session.setMode("ace/mode/c_cpp");
            else if(new_lang == "JAVA")
                editor.session.setMode("ace/mode/java");
            else if(new_lang == "JAVASCRIPT")
                editor.session.setMode("ace/mode/javascript");
            else if(new_lang == "PERL")
                editor.session.setMode("ace/mode/perl");
            else if(new_lang == "PYTHON")
                editor.session.setMode("ace/mode/python");
            else if(new_lang == "PHP")
                editor.session.setMode("ace/mode/php");
            else if(new_lang == "RUBY")
                editor.session.setMode("ace/mode/ruby");
            else
                editor.session.setMode("ace/mode/text");
            // fetch a new starter code from server
            if(fetchCode){
                fetch_default_code(new_lang);
            }
        }


    </script> <!-- ACE Editor JS -->

</html>

